<pre class="ansi">
<span id="line-0">                                                                                │</span>
<span id="line1">                                             │                                  │</span>
<span id="line2">                                            ││                                 ││                    │</span>
<span id="line3">                                            ├┤       │                          │               │    │</span>
<span id="line4">                                            ││┌┐     │        │                └┘               │    │</span>
<span id="line5">                                            └┘││    ├┤    ┌┐                   ││              │     │</span>
<span id="line6">                                            ┌┐││    ├┤   │││  │                ┌┐     │        ││    │</span>
<span id="line7">                         ┌┐                 ││││    ││    ││  │                ││              ├┤    │</span>
<span id="line8">                         ││                 ││││    │├┐  │││       ┌┐          ├┐              ││    │</span>
<span id="line9">                         ││ ┌┐              ││││    ││├┐  ││  │    ││   │  │   ││              └┘│   │</span>
<span id="line10">                         ││ ││              ││││    ││││ │││┌┐ ┌┐  ││┌┐        ││     │        ┌┐│   │</span>
<span id="line11">                         ││ ││            ┌┐││││┌┐  │├┤│┌┤└┘│││││┌┐││││ │   ┌┐ ││    │         ││ ┌┐ │</span>
<span id="line12">                    │    ││ └┘  ┌┐        ││││││││  └│└┘││┌┐│││└┘││││││ │   ││ ││  ┌┐││        │││││ │ ┌┐</span>
<span id="line13">                         ││     ││     ┌┐ ││││││││  ┌│┌┐│││││││┌┐││││││    │││ ││  ││├┐┌──┐    ││ ││ │ ││</span>
<span id="line14">                         ││     ││ ┌┐┌┐││ ││││││││┌┐│││││││││││││││└┘││ │   ││ ││  ││└┘│  │    │││││ │ ││</span>
<span id="line15">                    │  ┌┐││     └┘ ││││││ ││││└┘│││││││├┘││└┘└┴┘└│├─┐││││  │││ ││  ││┌┐│  │┌┐  │││└┘ │ └┘</span>
<span id="line16">                    │  ││││ ┌─┐ ┌┐ ││││││ └┘││┌┐│││││└┘│░░░░░░░░░░░░└┤└┐│┌┐│││ ││  ││││└──┘││  │││┌┐ │   ┌┐</span>
<span id="line17">                       ││└┤ │ │ ││ ││││││ ┌┐││││└┘│├┘░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░└┤│││││ ││  ││││┌┐┌┐││  │││││ │   ││</span>
<span id="line18">  │           ┌┐    │  └┘┌┤ │ │ ││ ││││││ ││││││ ┌┘│░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒░└┤│├┘│ ││┌┐└┘││││││││  │││││ │   ││</span>
<span id="line19">          ┌┐  ││ ┌─┐│  ┌┐││ └─┘ ││ ││││││ │└┘│││┌┘░▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒░└┤ │ ││││  ││││││││┌┐│││││ │ ┌┐││</span>
<span id="line20">          ││  ││ │ │├┐ ││││ ┌─┐ ││ ││││││ │ ┌┤│││░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒░│ │ ││││┌┐│││││││││││└─┘│ │ ││└┘     ┌┐</span>
<span id="line21">  │    ┌┐ └┘  ││ │ │││ ││││ │ │ ││ └┘│││└─┘ │││││░░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░├┐│ │││││││││││││││││┌──┘ │ ││┌┐     ││    ┌┐</span>
<span id="line22">  ││   ││   ┌┐└┘ │ │││ ││││ │ │ ││ ┌┐││└─┐──┘│└┤└┐░░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓░▓▓▒▒░░├┴┤ │└┴┘│└┘│││││││││││┌──┐│ ││││┌─┐  ││    ││</span>
<span id="line23">  └┴───┴┘ ┌┐││┌┐ │ │││ ││└┤ │ │ ││ │││└─┐└───┤ ├┬┘░░▒▒▒▒▒▒▒▒▓▓▓▓▒▒▒░▒▒▒▒▒▒░└┐│ │┌──┴──┘└┘└┘└┘││││└──┘│ │││││ │┌┐││  ┌─┘│</span>
<span id="line24">┌┐┌─────┐ ││││││ └─┘││ ││┌┤ │ │ ││ ││└─┐│ ┌──┴─┤│░░┌──────┐░▒▓▓▒░┌──────┐░░░├┴─┘└────────────┘│││┌──┐│ │││││ │││││  │  │</span>
<span id="line25">│││     │ ││││││ ┌──┘│ ││││ └─┘ │└─┘│  │└─┘┌──┐└┤░┌┘ <span class="nw eye">█</span><span class="nw n eye">█</span><span class="n ne eye">█</span><span class="ne eye">█</span> └┐▒▓▓▒┌┘ <span class="nw eye">█</span><span class="nw n eye">█</span><span class="n ne eye">█</span><span class="ne eye">█</span> └┐░┌┤┌───────────────┐└┘││  ││ │││││ ││││└┐ └──┘</span>
<span id="line26">└┘│     │ ││││││ │   │ ││││    ┌┘   └──┴───┘  │░│░│<span class="w eye">██</span> <span class="c eye focus">██</span> <span class="e eye">██</span>│▒▓▓▒│<span class="w eye">██</span> <span class="c eye focus">██</span> <span class="e eye">██</span>│░│├┴──────────────┐└──┴┴──┴┼─┘││││ └┘└┘ └──┐┌┐</span>
<span id="line27">┌─┴─────┴─┘└┘└┘└─┘   └─┘└┘└────┘╔════════════╗└─┤░└┐ <span class="sw eye">█</span><span class="sw s eye">█</span><span class="s se eye">█</span><span class="se eye">█</span> ┌┘▒▓▓▒└┐ <span class="sw eye">█</span><span class="sw s eye">█</span><span class="s se eye">█</span><span class="se eye">█</span> ┌┘░││ ╔════════════╗└────────┴──┘└┘└─────────┴┘│</span>
<span id="line28">│ ╔══════════╗ ╔══════════╗ ╔═══╝    ╔════╗  ║  ├┐░└──────┘░▒▒▒▒░└──────┘░┌┤│ ║ ╔════════╗ ╚═══╗ ╔══════╗ ╔══════════╗ │</span>
<span id="line29">│ ║     ╔╗   ║ ║  ╔════╗  ║ ║   ╔════╝    ║  ║  │└┬░▒▒▒▓▓▓▒▓▒░░▒▒▓▓▓▒▒▒▒░┬┤├┘ ║ ║        ╚═════╝ ╚╗    ╔╝ ║    ╔╗    ║ │</span>
<span id="line30">│ ║     ║║   ║ ║  ║    ║  ║ ║   ║         ║  ║  └┐└─┴┐░▒░▓▓▓░││░▒▓▓▒▒░┌┴─┘├┘  ║ ╚══════════════╗  ║    ║  ║    ║║    ║ │</span>
<span id="line31">│ ║     ║║   ║ ║  ║    ║  ║ ║   ║         ║  ║   └┐░░├─┐░▓▓▓▓▓▓▓▓▓▒░┌─┘│░░│   ╚═══════════╗    ║  ║    ║  ║    ║║    ║ │</span>
<span id="line32">│ ║     ╚╝   ║ ║  ╚════╝  ║ ║   ║         ║  ║    │░░│ │░▒▓▓▓▓▓▓▓▓▒░│  │░░│   ╔═╗         ║    ║  ║    ║  ║    ╚╝    ║ │</span>
<span id="line33">│ ║        ╔═╝ ║        ╔═╝ ║   ║         ║  ║    │░░│ └┐░┌┐▒┌┐▒┌┐░┌┘  │░░│   ║ ║         ║    ║  ║    ║  ║    ╔╗    ║ │</span>
<span id="line34">│ ║     ╔╗ ║   ╚════════╝   ║   ║         ║  ║    │░░│  │▓└┘▓└┘▓└┘▓│   │░░│   ║ ║         ║    ║  ╚════╝  ╚════╝║    ║ │</span>
<span id="line35">│ ║     ║╚═╝     ┌────────┐ ║   ║         ║  ║    └┐░│                ┌┘▒┌┘   ║ ║         ║    ║ ┌─────────┐    ╚════╝ │</span>
<span id="line36">│ ╚═════╝ ┌────┬─┤  code  │ ║   ║         ║  ║     │░└┐              ┌┘▒┌┘    ║ ║         ║    ║ │  whois  ├─┬─────────┘</span>
<span id="line37">└─────────┘    │ └────────┤ ║   ║         ║  ║     └┐▒└─┐          ┌─┘░┌┘     ║ ║         ║    ║ ├─────────┘ │</span>
<span id="line38">               │  ┌───────┤ ║   ║         ║  ║      └┐░▒│▓┌┐▓┌┐▓┌┐▓│▒░┌┘      ║ ║         ║    ║ ├───────┐   │</span>
<span id="line39">               └──┤  art  │ ║   ║         ║  ║       └┐▒│░└┘▒└┘▒└┘░│▒░│       ║ ║         ║    ║ │  etc  ├───┘</span>
<span id="line40">                  └───────┤ ║   ║         ║  ║        └┐░▒▒▒▒▒▒▒▒▒▒░┌─┘       ║ ║         ║    ║ ├───────┘</span>
<span id="line41">                          │ ║   ╚═════════╝  ║         └─┐░▒▓▓▓▓▓▒░┌┘         ║ ║         ║    ║ │</span>
<span id="line42">                          │ ║                ║           └─────────┘          ║ ╚═════════╝    ║ │</span>
<span id="line43">                          │ ╚════════════════╝                                ╚════════════════╝ │</span>
<span id="line44">                          └──────────────────────────────────────────────────────────────────────┘</span></span>

</pre>
