
@import 'srcery.css';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, pre {
  font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  background: var(--srcery-black);
  color: var(--srcery-bright-white);
}

.eye {
  color: var(--srcery-black);
}

.se {
  color: var(--srcery-yellow);
}

.link {
  color: var(--srcery-blue);
}

.hover {
  /* background: var(--srcery-xgray2); */
  color: var(--srcery-blue);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.ansi {
  display: inline;
  font-size: 0.875rem;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
