@import "@srcery-colors/srcery-palette";

@font-face {
  font-family: Iosevka;
  font-weight: 400;
  src: url(/assets/iosevka-regular.woff2) format("woff");
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont {
  overflow-x: auto;
}

body {
  font-size: 16px;
  font-family: Iosevka;
  margin: 0;
  background: var(--srcery-palette-black);
  color: var(--srcery-palette-bright-white);
}

a {
  text-decoration: none;
}

a:hover {
  background: var(--srcery-palette-gray1);
}

.ansi {
  display: inline;
  font-family: Iosevka;
  margin: 0;
  white-space: pre;
}

/* Colors {{{ */
.yellow-bg {
  background: var(--srcery-palette-yellow);
}
.blue-fg {
  color: var(--srcery-palette-blue);
}
.blue-bg {
  background: var(--srcery-palette-blue);
}
.green-fg {
  color: var(--srcery-palette-green)
}
.green-bg {
  background: var(--srcery-palette-green)
}
.magenta-fg {
  color: var(--srcery-palette-magenta)
}
.magenta-bg {
  background: var(--srcery-palette-magenta)
}
.cyan-fg {
  color: var(--srcery-palette-cyan)
}
.cyan-bg {
  background: var(--srcery-palette-cyan)
}
/* }}} */

/* vim: set ts=2 sw=2 tw=0 fdm=marker et :*/
